.card {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.drink-img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 2%;
    box-shadow: #2A324B 0 4px 5px 1px;
}

.drink-title {
    text-align: center;
    margin-top: 2%;
}

.container-ingredient-item {
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    padding: 15px;
}

.ingredient-item {
    list-style: none;
}

.instructions {
    padding-bottom: 5%;
    width: 80%;
    margin: 0 auto;
}



